doctype html
html
  head
    title Game Of Life
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    h1 Game Of Life
    div#app
    img(src=require("../image/test.jpg"), width='320px')